@font-face{
    font-family:"GeogiaRegular";
    src: url(../fonts/9605.ttf);
}

$majorColor: #81b300;
$darkColor: #333;
$lightColor: #999;
$hoverColor: #00acee;
$LightestColor: #fff;

$mainFont: "Georgia Regular", serif;